<div class="btn-toolbar justify-content-end" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-2" role="group" aria-label="First group">
      <a href="/{{page.letter}}1" class="btn btn-secondary">{{page.letter}}
      </a>
      <a href="/{{page.letter}}2" class="btn btn-secondary">{{page.letter}}ii
    </a>
    <a href="/{{page.letter}}3" class="btn btn-secondary">{{page.letter}}iii
    </a>
    <a href="/{{page.letter}}4" class="btn btn-secondary">{{page.letter}}iiii
    </a>
    <a href="/{{page.letter}}5" class="btn btn-secondary">{{page.letter}}v
    </a>
    <a href="/{{page.letter}}6" class="btn btn-secondary">{{page.letter}}vi
    </a>
    <a href="/{{page.letter}}7" class="btn btn-secondary">{{page.letter}}vii
    </a>
    <a href="/{{page.letter}}8" class="btn btn-secondary">{{page.letter}}viii
    </a>
    </div>
    <div class="btn-group" role="group" aria-label="Second group">
        <a href="/tei/{{page.title}}.xml" target="_blank" class="btn btn-success">TEI
        </a>
        <a href="/facsimiles/Luis Milán -Libro de motes de damas y caualleros (Texto impreso).pdf " download class="btn btn-danger">PDF
        </a>
    </div>

  </div>