<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">LM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item align-self-center">
                  <a class="nav-link" href="/LM-LibrodeMotes">Libro de Motes</a>
              </li>
              <li class="nav-item align-self-center">
                  <a class="nav-link" href="/LM-LibrodeMotes/A1/">Edición digital</a>
              </li>
              <li class="nav-item align-self-center">
                  <a class="nav-link" href="/LM-LibrodeMotes/B1/">Secciones</a>
              </li>
              <li class="nav-item align-self-center">
                  <a class="nav-link" href="/LM-LibrodeMotes/About/">Acerca de nosotras</a>
              </li>
          </ul>
      </div>
      <div class="nav-item ms-auto">
        <a class="btn p-1" href="/LM-LibrodeMotes/gameh/" target="_blank"><button class="btn btn-outline-light" type="submit">El juego de mandar</button></a>
      </div>
  </div>
</nav>
