.bg {
    margin:0 auto;
    background-image: url("../img/bg-game.jpeg");
    background-position: 50%;
    background-size: cover;
    display: table;
    min-height:100vh;
    width: 100%;

}

.scene {
    display: flex;
    justify-content: space-evenly;
    perspective: 800px;
}
    .card {
      position: relative;
      width: 190px;
      height: 270px;
      color: rgb(65, 63, 63);
      cursor: pointer;
      transition: 1s ease-in-out;
      transform-style: preserve-3d;
      border-radius: 4%;
      box-shadow: inset;
      box-shadow: 1px 1px 2px;;
  
      &:hover {
        transform: rotateY(0.5turn);
      }
  
      .card__face {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transition: 1s ease-in-out;  
        border-radius: 6%;
        box-shadow: inset;
        box-shadow: 1px 1px 2px;;
        img {
          width: 190px;
          height: 270px;
          object-fit:scale-down;
        }
  
        &--back {
          transform: rotateY(0.5turn);
        }
      }
    }