
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/game2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
    <script src="../assets/js/CETEI.js"></script>
    <script>
      let c = new CETEI();
      let behaviors = {
        "tei": {
          "head": function(e) {
            let level = document.evaluate("count(ancestor::tei-div)", e, null, XPathResult.NUMBER_TYPE, null);
            let result = document.createElement("h" + (level.numberValue < 7 ? level.numberValue : 6));
            for (let n of Array.from(e.childNodes)) {
              result.appendChild(n.cloneNode());
            }
            return result;
          },
          // Turn notes into endnotes
          "note": function(e){
            if (!this.noteIndex){
              this["noteIndex"] = 1;
            } else {
              this.noteIndex++;
            }
            let id = "note" + this.noteIndex;
            let link = document.createElement("a");
            link.setAttribute("id", "src" + id);
            link.setAttribute("href", "#" + id);
            link.innerHTML = this.noteIndex;
            let content = document.createElement("sup");
            if (e.previousSibling.localName == "tei-note") {
              content.appendChild(document.createTextNode(","));
            }
            content.appendChild(link);
            let notes = this.dom.querySelector("ol.notes");
            if (!notes) {
              notes = document.createElement("ol");
              notes.setAttribute("class", "notes");
              this.dom.appendChild(notes);
            }
            let note = document.createElement("li");
            note.id = id;
            note.innerHTML = "<a href=\"#src" + id + "\">^</a> " + e.innerHTML
            notes.appendChild(note);
            return content;
          },
          "placeName": [
            ["[ref]", ["<a href=\"$rw@ref\" target=\"_blank\">","</a>"]]
          ],
          "persName": [
            ["[ref]", ["<a href=\"$rw@ref\" target=\"_blank\">","</a>"]]
          ],
          "rs": [
            ["[ref]", ["<a href=\"$rw@ref\" target=\"_blank\">","</a>"]]
          ]
        }
      };
      c.addBehaviors(behaviors);
      c.getHTML5('../tei/{{page.question}}D.xml', function(data){
        document.getElementById("moteDamagame").appendChild(data);
      });
      c.getHTML5('../tei/{{page.answer1}}C.xml', function(data){
        document.getElementById("answer1").appendChild(data);
      });
      c.getHTML5('../tei/{{page.answer2}}C.xml', function(data){
        document.getElementById("answer2").appendChild(data);
      });
      c.getHTML5('../tei/{{page.answer3}}C.xml', function(data){
        document.getElementById("answer3").appendChild(data);
      });
    </script>
  </head>
<body>
  <main>
    <div class="container-fluid">
    <div class="bar-game row justify-content-end">
      <img class="title justify-self-start" src="../assets/img/JDM.png" alt="title">
      <a class="button-game" href="#"><img src="../assets/img/home-sepia.png" alt="home"></a>
      <a class="button-game" href="#"><img src="../assets/img/int-sepia.png" alt="help"></a>
      <a class="button-game" href="#"><img src="../assets/img/close-sepia.png" alt="close"></a>
    </div>   
    </div>
    <div class="panel-game row d-flex align-items-center justify-content-between crimson-text-semibold">   
      <div class="col-5 d-flex">
        <div class="row">
    <div class="card col-6">
      <div class="face front">
          <img src="../assets/img/naipe h.png" alt="">
      </div>

        <div id="{{page.answer1value}}" class="face back">
          <p id="answer1"></p>
          </div>
    </div>
    <div class="card col-6">
      <div class="face front">
          <img src="../assets/img/naipe h.png" alt="">
      </div>
      <div id="{{page.answer2value}}" class="face back">
          <p id="answer2">
          </p>
      </div>
    </div>
        </div>
        <div class="row">
          <div class="card col-6">
            <div class="face front">
                <img src="../assets/img/naipe h.png" alt="">
            </div>
      
              <div id="{{page.answer3value}}" class="face back">
                <p id="answer3"></p>
                </div>
          </div>
          <div class="card col-6">
            <div class="face front">
                <img src="../assets/img/naipe h.png" alt="">
            </div>
            <div id="{{page.answer2value}}" class="face back">
                <p id="answer2">
                </p>
            </div>
          </div>
              </div>
    </div>
    <div class="dama-game col-5">
      <div class="align-items-start">
          <div class="bubble align-items-center justify-content-center">
            <p id="reaction" class="crimson-text-bold">Elige una tarjeta...</p>
            </div>
        <img class="cara-dama" id="caraDama" src="../assets/img/dama-sepia.png" alt="" style="height: 300px;">
        <div class="card" id="dama-a">
          <div class="face front">
            <img src="../assets/img/naipe h.png" alt="">
        </div>
          <div id="{{page.answer1value}}" class="face back">
            <p id="moteDamagame"></p>
            </div>
        </div>
      </div>
    </div>
    </div>
  </main>
  {% include scripts.html %}
  <script src="../assets/js/CETEI.js"></script>
  <script> 
    
    var rFalse1 = document.getElementById ('rFalse1'),
    caradama = document.getElementById ('caraDama');


function respondeMal ()
{  document.getElementById("caraDama").src="../assets/img/dama-triste.png";
  document.getElementById("reaction").style="color: darkred;" ;
   document.getElementById("reaction").textContent="{{page.reactionf}}";
}
    rFalse1.addEventListener('click',respondeMal,true);

var rTrue = document.getElementById ('rTrue'),
    caradama = document.getElementById ('caraDama');

    function respondeBien ()
{  document.getElementById("caraDama").src="../assets/img/dama-feliz.png";
document.getElementById("reaction").style="color: green;" ;
document.getElementById("reaction").textContent="{{page.reactiont}}";
}
    rTrue.addEventListener('click',respondeBien,true);

    var rFalse2 = document.getElementById ('rFalse2'),
    caradama = document.getElementById ('caraDama');

    rFalse2.addEventListener('click',respondeMal,true);
  </script>
  <script>
    window.addEventListener('load', function() {
  setTimeout(function() {
    const damaFront = document.querySelector('#dama-a .front');
    const damaBack = document.querySelector('#dama-a .back');
    
    damaFront.style.transform = 'perspective(600px) rotateX(180deg)';
    damaBack.style.transform = 'perspective(600px) rotateX(360deg)';
  }, 1000); // 1000ms = 1 segundo
});
  </script>
</body>
</html>