<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/tei.css">
  </head>
<body>
  {% include nav.html %}
  <main>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">    
        <div class="carousel-item active">
          <img class="d-block w-100" src=".../assets/img/home4.png" alt="Third slide">
        </div>
      </div>
    </div>
  </main>
  {% include scripts.html %}
  {% include footer.html %}
</body>
</html>