
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/game2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
  </head>
<body>
  <main class="container-fluid">
    <div class="container-fluid home-game fade-in">
    <img class="align-items-center" src="../assets/img/homegame.png" alt="game-home">
    <div class="home-buttons pt-3">
     <a href="../game1/"><button type="button" class="btn custom-btn">Comenzar</button></a>
  </div>
    </div>
  </main>
  <script>
    window.addEventListener('load', function() {
      // Cuando la página termine de cargar, agrega la clase 'loaded' al body
      document.body.classList.add('loaded');
    });
  </script>
</body>
</html>