
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/tei.css">
    <script src="../assets/js/CETEI.js"></script>
    <script>
      let c = new CETEI();
      let behaviors = {
        "tei": {
          "head": function(e) {
            let level = document.evaluate("count(ancestor::tei-div)", e, null, XPathResult.NUMBER_TYPE, null);
            let result = document.createElement("h" + (level.numberValue < 7 ? level.numberValue : 6));
            for (let n of Array.from(e.childNodes)) {
              result.appendChild(n.cloneNode());
            }
            return result;
          },
          // Turn notes into endnotes
          "note": function(e){
            if (!this.noteIndex){
              this["noteIndex"] = 1;
            } else {
              this.noteIndex++;
            }
            let id = "note" + this.noteIndex;
            let link = document.createElement("a");
            link.setAttribute("id", "src" + id);
            link.setAttribute("href", "#" + id);
            link.innerHTML = this.noteIndex;
            let content = document.createElement("sup");
            if (e.previousSibling.localName == "tei-note") {
              content.appendChild(document.createTextNode(","));
            }
            content.appendChild(link);
            let notes = this.dom.querySelector("ol.notes");
            if (!notes) {
              notes = document.createElement("ol");
              notes.setAttribute("class", "notes");
              this.dom.appendChild(notes);
            }
            let note = document.createElement("li");
            note.id = id;
            note.innerHTML = "<a href=\"#src" + id + "\">^</a> " + e.innerHTML
            notes.appendChild(note);
            return content;
          },
          "placeName": [
            ["[ref]", ["<a href=\"$rw@ref\" target=\"_blank\">","</a>"]]
          ],
          "persName": [
            ["[ref]", ["<a href=\"$rw@ref\" target=\"_blank\">","</a>"]]
          ],
          "rs": [
            ["[ref]", ["<a href=\"$rw@ref\" target=\"_blank\">","</a>"]]
          ]
        }
      };
      c.addBehaviors(behaviors);
      c.getHTML5('../tei/{{page.title}}.xml', function(data){
        document.getElementById("TEI").appendChild(data);
      });
    </script>
  </head>
<body>
  {% include nav.html %}
  <main>
    <div class="mote">
      <article class="post-content fullwidth" style="padding-top: 10; margin-bottom: 20;" >
        
        <div class="post.two-columns" style="display: flex; padding: 0;">
        <div class="post-content" >
        <img src="../facsimiles/{{page.title}}D.png" alt="{{page.title}} Dama"></img>
        <audio controls style="padding-left:200;">
            <source src="../assets/audio/{{page.title}}D.mp3" type="audio/mpeg">
        </audio>
        </div>
        <div class="post-content">
            <img src="../facsimiles/{{page.title}}C.png" alt="{{page.title}} Caballero"></img>
        <audio controls style="float: right;">
            <source src="../assets/audio/{{page.title}}C.mp3" type="audio/mpeg">
        </audio>
        </div>  
    </div>  
    <div id="TEI">
    </div>
        </article>
    </div>
  </main>
  {% include footer.html %}
  {% include scripts.html %}
  <script src="../assets/js/CETEI.js"></script>
</body>
</html>




<!--<div class="container">
    <main>{{content}}</main>
    <aside>
        <h3>Recent Posts</h3>
        {% for post in site.posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a> </li>
        {% endfor %}
    </aside>

    
</div> -->



