
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/tei.css">
    <script src="../assets/js/CETEI.js"></script>
    <script>
      let c = new CETEI();
      let behaviors = {
        "tei": {
          "head": function(e) {
            let level = document.evaluate("count(ancestor::tei-div)", e, null, XPathResult.NUMBER_TYPE, null);
            let result = document.createElement("h" + (level.numberValue < 7 ? level.numberValue : 6));
            for (let n of Array.from(e.childNodes)) {
              result.appendChild(n.cloneNode());
            }
            return result;
          },
          // Turn notes into endnotes
          "note": function(e){
            if (!this.noteIndex){
              this["noteIndex"] = 1;
            } else {
              this.noteIndex++;
            }
            let id = "note" + this.noteIndex;
            let link = document.createElement("a");
            link.setAttribute("id", "src" + id);
            link.setAttribute("href", "#" + id);
            link.innerHTML = this.noteIndex;
            let content = document.createElement("sup");
            if (e.previousSibling.localName == "tei-note") {
              content.appendChild(document.createTextNode(","));
            }
            content.appendChild(link);
            let notes = this.dom.querySelector("ol.notes");
            if (!notes) {
              notes = document.createElement("ol");
              notes.setAttribute("class", "notes");
              this.dom.appendChild(notes);
            }
            let note = document.createElement("li");
            note.id = id;
            note.innerHTML = "<a href=\"#src" + id + "\">^</a> " + e.innerHTML
            notes.appendChild(note);
            return content;
          },
          "placeName": [
            ["[ref]", ["<a href=\"$rw@ref\" target=\"_blank\">","</a>"]]
          ],
          "persName": [
            ["[ref]", ["<a href=\"$rw@ref\" target=\"_blank\">","</a>"]]
          ],
          "rs": [
            ["[ref]", ["<a href=\"$rw@ref\" target=\"_blank\">","</a>"]]
          ]
        }
      };
      c.addBehaviors(behaviors);
      c.getHTML5('../tei/{{page.title}}D.xml', function(data){
        document.getElementById("moteDama").appendChild(data);
      });
      c.getHTML5('../tei/{{page.title}}C.xml', function(data){
        document.getElementById("moteCaballero").appendChild(data);
      });
    </script>
    <style>
      /* Estilos minimalistas para el botón */
      .audio-button {
          background-color: transparent;
          border: none;
          font-size: 24px;
          cursor: pointer;
      }

      .audio-button:focus {
          outline: none;
      }
  </style>
  </head>
<body>
  {% include nav.html %}
  <main>
    <div class="digital-edition">
<!--      <ul class="nav nav-tabs justify-content-center text-secundary">
        <li class="nav-item">
        </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Secciones</a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li>
        <a class="dropdown-item" href="#">Prólogo</a>
      </li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li>
        <a class="dropdown-item" href="#">A</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">A</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">A</a>
      </li>
    </ul>
  </li>
  <li class="nav-item">
  </li>
</ul>-->
      <div class="par-de-motes container-fluid flex">
        <div style="display: flex; justify-content: center;">
          <div class="arrow align-self-center">
            <a class="nav-link" href="../{{page.prev}}/"><img src="/LM-LibrodeMotes/assets/img/arrow_back.png" class="background-size:10%" alt="<"></a>
          </div>
          <div class="mote-dama card">
            <div class="card-buttons row justify-content-end"> 
            <h5 class="card-title justify-self-center">Dama</h5>           
            <a href="/LM-LibrodeMotes/tei/{{page.title}}D.xml" class="btn btn-secondary col-2" target="_blank">TEI</a>
            <a href="/LM-LibrodeMotes/facsimiles/{{page.title}}D.png" class="btn btn-secondary col-2" target="_blank">IMG</a>
            <button id="audioButton" class="audio-button col-2">🔊</button>
            <audio id="audio" src="../assets/audio/{{page.title}}D.mp3" type="audio/mpeg"></audio>
          </div> 
            <img class="card-img-top" src="../facsimiles/{{page.title}}D.png" alt="{{page.title}} Dama"></img>
            <div class="card-body">
            <div class="card-title">//{{page.title}}//</div>
            <div id="moteDama" class="card-text">
            </div>            
          </div>
          </div>
          <div class="mote-caballero card">
            <div class="card-buttons row justify-content-end">
            <h5 class="card-title justify-self-center">Caballero</h5>
            <a href="/LM-LibrodeMotes/tei/{{page.title}}C.xml" class="btn btn-secondary col-2" target="_blank">TEI</a>
            <a href="/LM-LibrodeMotes/facsimiles/{{page.title}}C.png" class="btn btn-secondary col-2" target="_blank">IMG</a>
            <button id="audioButton" class="audio-button col-2">🔊</button>
            <audio id="audio" src="../assets/audio/{{page.title}}C.mp3" type="audio/mpeg"></audio>
          </div>
            <img class="card-img-top" src="../facsimiles/{{page.title}}C.png" alt="{{page.title}} Caballero"></img>
            <div class="card-body">
            <div class="card-title">//{{page.title}}//</div>
            <div id="moteCaballero" class="card-text">
            </div>
          </div>
          </div>
          <div class="arrow align-self-center">
            <a class="nav-link" href="../{{page.next}}/"><img src="/LM-LibrodeMotes/assets/img/arrow_forward.png" class="background-size:10%" alt=">"></a>
          </div>
        </div>  
      </div>
    </div>
  </main>
  {% include footer.html %}
  {% include scripts.html %}
  <script>
    // Referencias al botón y al audio
    const audioButton = document.getElementById("audioButton");
    const audio = document.getElementById("audio");

    // Evento de clic para reproducir o pausar el audio
    audioButton.addEventListener("click", function() {
        if (audio.paused) {
            audio.play();
            audioButton.textContent = "⏸️"; // Cambia el icono a pausa
        } else {
            audio.pause();
            audioButton.textContent = "🔊"; // Cambia el icono a parlante
        }
    });
</script>
  <script src="../assets/js/CETEI.js"></script>
</body>
</html>








