---
layout: base
---

<div class="post">
  <article class="post-content fullwidth" style="padding-top: 10; margin-bottom: 20;" >
    {% include navigation.html %}
    <div class="post.two-columns" style="display: flex; padding: 0;">
    <div class="post-content" >
    <img src="/facsimiles/{{page.title}}D.png" alt="{{page.title}} Dama"></img>
    <audio controls style="padding-left:200;">
        <source src="/assets/audio/{{page.title}}D.mp3" type="audio/mpeg">
    </audio>
    </div>
    <div class="post-content">
        <img src="/facsimiles/{{page.title}}C.png" alt="{{page.title}} Caballero"></img>
    <audio controls style="float: right;">
        <source src="/assets/audio/{{page.title}}C.mp3" type="audio/mpeg">
    </audio>
    </div>  
</div>  
    {{ content }}
    </article>
    
    <br>
    <br>
</div>
